* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #dae4ed;
  width: 100%;
  height: 28vh;
  flex-wrap: wrap;
}
.icon{ /* Logo na Barra de navegação */
    width: 200px;
    flex: 1;
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
}

.logo{ /* imagem do logo */
    width: 90px; 
    height: 90px; 
    border-radius:50%; 
    border: 3px solid #135695; 
    margin-left: 2px;
    border-radius: 70%;
}

#bmenu{
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #135695;
}

.menu{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 40px;
  gap: 1.5rem;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.menu ul li {
    margin: 0 20px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: #253F46;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: color 0.3s ease-in-out;

}

.menu ul li a:hover {
    color: #005dc8;
}

.search { /* Posicionamento do Pesquisar aqui */
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
  margin-right: 45px;
}

.srch {
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid #135695;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 15px;
  color: #135695;
  cursor: pointer;
  font-size: 16px;
}

.srch:focus{
    border-color: #338bff;
    outline: none;
    box-shadow: 0 0 5px #338bff;
}

.search-icon:hover{
  color: #135695;
}

.dark-mode-btn {
  background: none;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 45px;
  align-items: center;
}

/* Modo escuro */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode nav {
  background-color: #1e1e1e;
}

body.dark-mode .menu ul li a {
  color: #f1f1f1;
}

body.dark-mode .content,
body.dark-mode section,
body.dark-mode .team-section,
body.dark-mode footer {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

body.dark-mode .subtitulo{
  color: #d3d3d3;
} 

body.dark-mode .content h1{
  color: #f1f1f1;
}

body.dark-mode .Sobre h2{
  color: #f1f1f1;
}

body.dark-mode .texto_sobre{
  color: #f1f1f1;
}

body.dark-mode .agendamento h2{
  color: #f1f1f1;
}

body.dark-mode .subtitulo1{
  color: #d3d3d3;
} 

body.dark-mode .team-section h2{
  color: #f1f1f1
}

body.dark-mode .Galeria h2{
  color: #f1f1f1
}

body.dark-mode .secção-titulo h2{
  color: #f1f1f1;
}

body.dark-mode .info-text h4{
  color: #f1f1f1;
}

body.dark-mode .info-text p{
  color: #d3d3d3;
}

body.dark-mode .NewsLet h2{
  color: #f1f1f1
}

body.dark-mode .NewsLet p{
  color: #bebebe;
}

body.dark-mode .Let input{
  background-color: #e7e7e7;
  color: #00376b;
}

.quad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.quad-item { /* Primeira Box*/
    flex-direction: column;
    display: flex;
    background-color: #135B9A;
    width: 320px;
    height:auto;
    border-radius: 5%;
    margin: 0px; /* Remove espaçamentos externos */
    box-shadow: 4px 4px 10px #00000033; 
}

.quad-item:hover{
  transform: translateY(-10px);
}

.cta {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta .call{ /* Botão Junte-se a Nos */
    width: 160px;
    height: 40px;
    background: #ffffff;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #135695;
}

.cta .call a{
    text-decoration: none;
    color: #135695;
    transition: 0.3s ease;
}

.call:hover{ /* Botão "Junta-se Nós */
 background-color: #fff;
 color: #135B9A;
 transform: scale(1.05); /* Leve crescimento ao passar o mouse */
 transform: translateY(-5px);
}

.quad-item1 { /* Segunda Box*/
    flex-direction: column;
    display: flex;
    width: 250px;
    height:270px;
    border-radius: 5%;
    border: 1px solid #00376b;
    margin: 0px; /* Remove espaçamentos externos */
    box-shadow: 4px 4px 10px #00000033;
    background-color: #ffffff;
    text-align: center;
}

.quad-item1:hover{
  transform: translateY(-10px);
}

.content .par{ /* Primeira Box*/
    margin: 0px;
    margin-bottom: 0px; /* Remove espaço abaixo do título */
    padding: 10px 10px 0px 10px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 45px;
    color: #ffffff;
    font-weight: bold;
    font-weight: bold 80px;
    font-size: 35px;
}

.content .parTitulo{ /* Segunda Box*/
    margin: 0px;
    margin-bottom: 0px; /* Remove espaço abaixo do título */
    padding: 10px 10px 0px 10px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #135695;
    font-weight: bold;
    font-weight: bold 80px;
    font-size: 25px;
}

.content .par1{ /* Primeira Box*/
    padding-bottom: 10px; /* Mantém um pequeno espaçamento interno */
    padding-left: 10px;
    padding-top: 20px;
    font-family:Helvetica;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;
    font-weight: bold 80px;
    font-size: 14px;
}

.content .par2{ /* Segunda Box*/
    padding-bottom: 10px; /* Mantém um pequeno espaçamento interno */
    padding-left: 10px;
    padding-top: 20px;
    font-family:Helvetica;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #135B9A;
    text-align: left;
    font-weight: bold 80px;
    font-size: 14px;
}

.content h1{ /* Tem a ver com o Titulo */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 70px;
    margin-top: 3%;
    letter-spacing: 2px;
    text-align: center;
    color: #00376b;
}


.Sobre{
  background-color: #f9f9f9;
}

.cont_sobre{
    gap: 40px;
    width: 920px;
    max-width: 1200px;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    align-items: center;

}

.img_sobre img {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  flex-direction: column;
}

.Sobre h2{
  font-size: 32px;
  color: #1f3c88;
  margin-bottom: 30px;
  font-family: Helvetica;
  text-align: center;
}

.Sobre h2::after {
  content: "";
  display: block;
  margin: 8px auto;
  width: 55px;
  height: 4px;
  background-color: #135B9A;
  border-radius: 2px;
  position: relative;
}


.texto_sobre{
    flex: 1;
    font-size: 14px;
    line-height: 1.6;
    color: #38506B;
    letter-spacing: 1.2px;
    font-family: Helvetica;
    padding-left: 5px;
    text-align:justify;
}

.img_sobre,
.texto_sobre {
  flex: 1 1;
  max-width: 6000px;
}

.servicos {
    font-size: 2rem;
    padding: 4rem 2rem;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #024983;
  }
  
  .servicos h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

.servicos h2::after {
    content: "";
    display: block;
    margin: 8px auto;
    width: 55px;
    height: 4px;
    background-color: #135B9A;
    border-radius: 2px;
    position: relative;
}

  
.subtitulo {
    color: #38506B;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
.cards-servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.card {
    background-color: #ffffff;
    border: 1px solid #00376b;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 4px 4px 10px #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  
.card:hover {
    transform: translateY(-5px);
  }
  
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #0c92ff;
    margin-bottom: 1rem;
    width: 60px;
    height: 60px;
  }
  
.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #024983;
    text-align: center;
  }
  
.card p {
    font-size: 1rem;
    color: #38506B;
    text-align: left;
    line-height: 1.6;
  }


.agendamento {
    padding: 60px 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }
  
.agendamento h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #024983;
  }
  
.subtitulo1 {
    color: #38506B;
    font-size: 16px;
    margin-bottom: 40px;
  }
  
.form-agendamento {
    max-width: 1100px;
    margin: 0 auto;
  }
  
.linha-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }


.form-agendamento input,
.form-agendamento select,
.form-agendamento textarea {
    flex: 1 1 250px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
  }

  .form-agendamento input:focus{
    border-color: #338bff;
    outline: none;
    box-shadow: 0 0 5px #338bff;
}

.form-agendamento select:focus{
  border-color: #338bff;
  outline: none;
  box-shadow: 0 0 5px #338bff;
}

.form-agendamento textarea:focus{
  border-color: #338bff;
  outline: none;
  box-shadow: 0 0 5px #338bff;
}
  
  textarea {
    width: 100%;
    resize: none;
  }
  
.form-agendamento button {
    background-color: #135695;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
  }
  
.form-agendamento button:hover {
    background-color: #005dc8;
  }
   

.secção-titulo {
    text-align: center;
    margin-top: 1.5rem;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
  
.secção-titulo h2 {
    font-size: 2rem;
    color: #00376b;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
  
.secção-titulo h2::after {
    content: "";
    display: block;
    margin: 8px auto;
    width: 55px;
    height: 4px;
    background-color: #135B9A;
    border-radius: 2px;
    position: relative;
}
  

.team-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
    font-family: Helvetica;
  }
  
.team-section h2 {
    font-size: 32px;
    color: #1f3c88;
    margin-bottom: 10px;
    font-family: Helvetica;
  }
  
.team-section p {
    color: #51585C;
    font-size: 16px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
.team-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px #0000000d;
    padding: 30px 20px;
    max-width: 280px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.team-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
.team-card h3 {
    color: #1f3c88;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
.team-card .role {
    font-weight: bold;
    color: #38506B;
    font-size: 14px;
    margin-bottom: 10px;
  }

.Galeria{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Galeria h2 {
    font-size: 2rem;
    color: #00376b;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    font-family: Helvetica;
}
  
.Galeria h2::after {
    content: "";
    display: block;
    margin: 8px auto;
    width: 55px;
    height: 4px;
    background-color: #135B9A;
    border-radius: 2px;
    position: relative;
    justify-content: center;
}

.image{
  padding-left: 580px;
  margin-top: -470px;
}

.imgR{ /*as 4 imagens */

  width: auto;
  height: auto;
  display:flex;
  justify-content: center;
}


.Ant_rodp{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.NewsLet{ /* Inicio do News */
    height: auto;
    box-shadow: 0 0 10px #bebebe;
    justify-items: center;
    width: 275px;
    max-width: 400px;
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
}

.NewsLet h2{ /* Titulo do News */
    width: 150px;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #00376b;
    font-size: 22px;
    border-radius: 8px;
    margin-top: auto;
}

.Let input{ /* Entrada do News */
    display: block;
    margin: 10px auto;
    width: 95%;
    padding: 5px;
    height: 25px;
    background:#ffffff;
    border: 1px solid #38506B;
    border-radius: 5px;
    color: #38506B;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
    border-radius: 8px;
}

.Let input:focus{
    border-color: #296cc4;
    outline: none;
    box-shadow: 0 0 5px #338bff;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #135695;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
}
.btnn:hover{
    background: #005dc8;
    color: #fff;
    transform: scale(1.05);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre os ícones */
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: #135695;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #005dc8;
    transform: scale(1.1);
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
    margin: 2rem 2.5rem;
}
  
.info-box {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}
  
.icon-circulo {
    background-color: #135695;
    color: #fff;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    min-width: 30px;
    height: 30px;
}
  
.info-text h4 {
    margin: 0;
    font-size: 1.3rem;
    color: #00376b;
    font-family: Arial, Helvetica, sans-serif;
}
  
.info-text p {
    margin: 4px 0 0 0;
    color: #135695;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.Volta_top {
  right: 0;
  margin: 0px;
  bottom: 20px;
  padding: 10px;
  position: fixed;
  margin-top: 20px;
}

.Top {
  background-color: #135695;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 12px 14px;
  font-size: 18px;
  box-shadow: 0 4px 6px #678097;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Top:hover {
  background-color: #005dc8;
}

.footer{
    padding-top: 0px;
    text-align: center;
}

@media screen and (max-width:1205px) {
  /* Rodapé*/
  .navbar {
    justify-content: space-around;
    align-items: center;
  }
 
  .content h1{ /* Titulo */
    text-align: center;
    font-size: 45px;
  }
  
  .menu ul {
    width: 100px;
    height: 10px;
    
  }

  .search {
    display: none;
  }

  .servicos {
    text-align: center;
    align-items: center;
  }

  .imgR{
    flex-direction: column;
    text-align: center;
    padding: -10px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: -20px;
    display: grid;
  }

  .imgR img {
    width: 100%;
    height: auto;
    max-width: 280px;
  }

  .form {
    width: 100%;
    max-width: fit-content;
    justify-content: center;
    position: relative;
  }

  .cont_sobre{
    gap: 40px;
    width: 400px;
    max-width: 720px;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    align-items: center;

}

  .cont_sobre {
    flex-direction: column;
    text-align: center;
  }

  .texto_sobre {
    text-align: justify;
    padding: 0 10px;
  }

  .Ant_rodp{
    display: flex;
    flex-direction: column;
    
}

}

@media (max-width: 768px) {
  .navbar{
    width: 100%;
    height: 28vh;
  }
  .icon{ /* Logo na Barra de navegação */
      width: 190px;
      height: 60px;
  }
  
  .logo{ /* imagem do logo */
      width: 80px; 
      height: 80px; 
  }
    
  .dark-mode-btn {
    font-size: 1.6rem;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 130px;
    right: 80px;
    background-color: #dae4ed;
    padding: 1rem 2rem;
    border-radius: 8px;
    width: 40px;
    height: 150px;
  }

  .menu.active {
    display: flex;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 16px;
    flex-direction: column;
    gap: 1rem;
  }

  .menu ul li a {
    text-decoration: none;
    font-weight: 500;
  }

  #bmenu {
    display: block;
    margin-right: 40px;
    cursor: pointer;
    font-size: 2rem;
  }
  #bmenu:hover{
    color: #2E8CE4;
  }
  
  .quad-item { /* Primeira Box*/
      width: 300px;
      height:auto;
  }
  
  .cta .call{ /* Botão Junte-se a Nos */
      width: 155px;
      height: 35px;
  }
  
  .quad-item1 { /* Segunda Box*/
      width: 245px;
      height:250px;
  }
  
  .content .par{ /* Primeira Box*/
      font-size: 30px;
  }
  
  .content .parTitulo{ /* Segunda Box*/
      font-size: 20px;
  }
  
  .content .par1{ /* Primeira Box*/
      font-size: 12px;
  }
  
  .content .par2{ /* Segunda Box*/
      font-size: 12px;
  }
  
  .content h1{ /* Tem a ver com o Titulo */
      font-size: 35px;

  } 
  
  .Sobre h2{
    font-size: 28px;
  }
  
  .texto_sobre{
      font-size: 12px;
  }
  
  
  .servicos {
      font-size: 1.8rem;
    }
    
    .servicos h2 {
      font-size: 1.8rem;
    }
    
  .subtitulo {
      font-size: 0.9rem;
    }
    
  .icon {
      font-size: 2.2rem;
      width: 60px;
      height: 60px;
    }
    
  .card h3 {
      font-size: 1.2rem;
    }
    
  .card p {
      font-size: 0.8rem;
    }
    
  .agendamento h2 {
      font-size: 1.8rem;
    }
    
  .subtitulo1 {
      font-size: 0.9rem;
    }
    
  .form-agendamento {
      max-width: 1090px;
    }
      
  .form-agendamento input,
  .form-agendamento select,
  .form-agendamento textarea {
      font-size: 0.8rem;
    }
    
  .form-agendamento button {
      font-size: 16px;
    }
  
  .secção-titulo {
      margin-top: 1.5rem;
  }
    
  .secção-titulo h2 {
      font-size: 2rem;
  }
        
  .team-section h2 {
      font-size: 32px;
    }
    
  .team-section p {
      font-size: 16px;
    }
    
  .team-card {
      max-width: 280px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
  .team-card img {
      width: 100px;
      height: 100px;
    }
    
  .team-card h3 {
      font-size: 20px;
    }
    
  .team-card .role {
      font-size: 14px;
    }
  
  .Galeria h2 {
      font-size: 2rem;
  }
    
    
  .NewsLet{ /* Inicio do News */
      height: auto;
      width: 275px;
      max-width: 400px;
  }
  
  .NewsLet h2{ /* Titulo do News */
      width: 150px;
      height: 30px;
      font-size: 22px;
  }
  
  .Let input{ /* Entrada do News */
      width: 95%;
      height: 25px;
      font-size: 15px;
  }
  
  .btnn{
      width: 240px;
      height: 40px;
      font-size: 18px;
  }
  
  .social-icons a {
      width: 40px;
      height: 40px;
      font-size: 20px;
  }
    
  .icon-circulo {
      font-size: 1rem;
      min-width: 30px;
      height: 30px;
  }
    
  .info-text h4 {
      font-size: 1.3rem;
  }
    
  .info-text p {
      font-size: 0.9rem;
  }  

}

@media print {
 
  .footer, .form, .cta, .navbar { display: none;}
   
  }
